clientid.txt
launcher_*.*
optionsof.txt
realms_persistence.json
treatment_tags.json
updateSourceCache.json
usercache.json

# .minecraft folders
/.fabric
/assets
/bin
/config
/crash-reports
/data
/downloads
/libraries
/logs
/quickPlay
/saves/bleh
/screenshots
/staging
/versions
/webcache2

# essential mod folders
/essential_mod/fabric/1.20.4/essential mod 1.20.4 with fabric and shaders/.fabric
/essential_mod/fabric/1.20.4/essential mod 1.20.4 with fabric and shaders/config
/essential_mod/fabric/1.20.4/essential mod 1.20.4 with fabric and shaders/data
/essential_mod/fabric/1.20.4/essential mod 1.20.4 with fabric and shaders/downloads
/essential_mod/fabric/1.20.4/essential mod 1.20.4 with fabric and shaders/essential
/essential_mod/fabric/1.20.4/essential mod 1.20.4 with fabric and shaders/logs
/essential_mod/fabric/1.20.4/essential mod 1.20.4 with fabric and shaders/saves/test world
/essential_mod/fabric/1.20.4/essential mod 1.20.4 with fabric and shaders/screenshots
/essential_mod/fabric/1.20.4/wee-haw