clientid.txt
launcher_*.*
optionsof.txt
realms_persistence.json
treatment_tags.json
updateSourceCache.json
usercache.json

/.fabric
/assets
/bin
/config
/crash-reports
/data
/downloads
/essential_mod
/libraries
/logs
/quickPlay
/saves/bleh
/screenshots
/staging
/versions
/webcache2