clientid.txt
launcher_*.*
optionsof.txt
realms_persistence.json
treatment_tags.json
updateSourceCache.json
usercache.json

# .minecraft folders
/.fabric
/assets
/bin
/config
/crash-reports
/data
/downloads
/libraries
/logs
/quickPlay
/saves/bleh
/screenshots
/staging
/versions
/webcache2

# essential mod folders
/essential_mod/fabric/1.20.4/wee-haw/.fabric
/essential_mod/fabric/1.20.4/wee-haw/config
/essential_mod/fabric/1.20.4/wee-haw/data
/essential_mod/fabric/1.20.4/wee-haw/downloads
/essential_mod/fabric/1.20.4/wee-haw/essential
/essential_mod/fabric/1.20.4/wee-haw/logs
/essential_mod/fabric/1.20.4/wee-haw/saves/test world
/essential_mod/fabric/1.20.4/wee-haw/screenshots